---

let twitter = "/public/assets/icons/twitter_64px.png"
let githHub = "/public/assets/icons/github_64px.png";
let linkedin = "/public/assets/icons/linkedin_64px.png";

---



<main>
      <!-- title -->
      <div class="main__title">
        <h2 id="ch-heading">hello</h2>
        <p>I’m Razvan Balauru, a freelancer front-end developer.</p>
        <div class="main__title--image"></div>
      </div>
      <!-- line with social -->
      <div class="main__line">
        <hr />

        <a href="#"> <img src={twitter} alt="Twitter Link" /></a>
        <a href="#"><img src={linkedin} alt="Linkedin Link" /></a>
        <a href="#"><img src={githHub} alt="Github Link" /></a>

        <hr />
      </div>
      <div class="main__info">
        <div class="main__info-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eleifend ut
            in donec gravida. Praesent morbi vulputate viverra eget.
            Sollicitudin commodo nisl dignissim imperdiet blandit turpis. Sit
            ultricies amet proin augue.Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Eleifend ut in donec gravida. Praesent morbi
            vulputate viverra eget. Sollicitudin commodo nisl dignissim
            imperdiet blandit turpis. Sit ultricies amet proin augue.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eleifend ut
            in donec gravida. Praesent morbi vulputate viverra eget.
            Sollicitudin commodo nisl dignissim imperdiet blandit turpis. Sit
            ultricies amet proin augue.Lorem ipsum dolor sit amet, consectetur
            adipiscing elit. Eleifend ut in donec gravida. Praesent morbi
            vulputate viverra eget. Sollicitudin commodo nisl dignissim
            imperdiet blandit turpis. Sit ultricies amet proin augue.
          </p>
        </div>
        <div class="main__info-skills">
          <h3>Skills</h3>
          <ul>
            <li>HTML - CSS - JAVSCRIPT - REACT - GIT - PARCEL - SASS</li>
          </ul>
        </div>
      </div>
    </main>