---

let twitter = "/public/assets/icons/twitter_64px.png"
let githHub = "/public/assets/icons/github_64px.png";
let linkedin = "/public/assets/icons/linkedin_64px.png";

---



<main>
      <!-- title -->
      <div class="main__name">
        <h2>Razvan Balauru</h2>
        <p>freelance front-end developer</p>
      </div>
      <!-- line with social -->
      <div class="main__line">
        <hr />

        <a href="#"> <img src={twitter} alt="Twitter Link" /></a>
        <a href="#"><img src={linkedin} alt="Linkedin Link" /></a>
        <a href="#"><img src={githHub} alt="Github Link" /></a>

        <hr />
      </div>
     
</main>