
<header>
 <nav class="navbar">
        <div class="navbar__logo">
          <img src="/public/assets/logo/logo.png" alt="" />
        </div>
        <div class="navbar__links">
          <a href="#">Projects</a>
          <a href="#">Blog</a>
          <a href="#">Contact</a>
        </div>
      </nav>
</header>

