---
let names = {
  imageHero :  "/public/assets/images/scanvet.jpeg"
}

// const { greeting = 'Salut', name } = Astro.props;
---

<!-- <div>
    <h1>{greeting}, {name}!</h1>
</div> -->

<section class="section-container">
      <div class="section-text">
        <h2>Projects</h2>
        <p>Below are some projects that i’ve worked on.</p>
      </div>
      <div class="section-project">
        <!-- Project Card start -->
        <div class="section-project__card">
          <img src={names.imageHero} alt="" />
          <p>
            ScanVet a luat naștere din dorința de a aduce diversitate și
            calitate superioară a serviciilor în mediul clinicilor private.
            Medicina veterinară a evoluat fulminant în ultima perioada, iată că
            astăzi discutăm despre tehnici moderne de diagnostic și tratament.
          </p>
          <div class="section-project__card-link">
            <img src="./dist/images/expand_arrow_48px.webp" alt="" />
            <a href="#">View more</a>
          </div>
        </div>
        
      </div>
      <div class="section-project">
        <!-- Project Card start -->
        <div class="section-project__card">
          <img src={names.imageHero} alt="" />
          <p>
            ScanVet a luat naștere din dorința de a aduce diversitate și
            calitate superioară a serviciilor în mediul clinicilor private.
            Medicina veterinară a evoluat fulminant în ultima perioada, iată că
            astăzi discutăm despre tehnici moderne de diagnostic și tratament.
          </p>
          <div class="section-project__card-link">
            <img src="./dist/images/expand_arrow_48px.webp" alt="" />
            <a href="#">View more</a>
          </div>
        </div>
        
      </div>
      <!-- Project Card end-->


        <!-- More projects -->
      <div class="section-container__more">
        <a href="#">View more ongoing projects</a>
      </div>
      <hr />
    </section>
    <section class="contact-me">
      <div class="contact-me__img"></div>
      <p>
        Did something catch your eye and want to collaborate on a project? You
        can contact me at:
      </p>
      <a href="#">razvan@rbalauru.ro</a>
      <div class="contact-me__social">
        <a href="#"><img src="./dist/images/twitter_64px.webp" alt="" /></a>
        <a href="#"><img src="./dist/images/linkedin_64px.webp" alt="" /></a>
        <a href="#"><img src="./dist/images/github_64px.webp" alt="" /></a>
      </div>
    </section>