@mixin flex-h-center {
  display: flex;
  align-items: center;
}

@mixin flex-v-center {
  display: flex;
  justify-content: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin margin-center {
  margin: 0 auto;
}

@mixin border-bot-hover {
  border-bottom: 1px solid rgba(70, 70, 70, 0.671);
}

@mixin p-font-fluid {
  font-size: clamp(1.2rem, 1.0571rem + 0.4464vw, 1.7rem);
}
