//colors
$white: #fff;
$back-color: #f9f9f9;
$border-card: rgba(145, 145, 145, 0.329);
//Font
$primary-font: "Cabin", sans-serif;
//grid

//shadow
$card-shadow-hover: 0px 0px 8px 4px rgba(148, 148, 148, 0.212);
