---
import Head from "../components/index-page/Head.astro";
import Nav from "../components/index-page/Nav.astro";
import Main from "../components/index-page/Main.astro";
import Brand from "../components/index-page/Brand.astro";
---


<html>
  <head>
    <Head />
  </head>
    <Nav/>
  <body>
    <Main/>
  </body>
</html>

