---
import Head from "../components/index-page/Head.astro";
import Nav from "../components/index-page/Nav.astro";
import Main from "../components/index-page/Main.astro";
import Section from "../components/index-page/Section.astro";
---


<html>
  <head>
    <Head />
  </head>
    <Nav/>
  <body>
    <Main/>
     <Section/>
     
  </body>
</html>

